
.inputName{
    /* margin-bottom: 7%; */
    margin-top: 5%;
    padding:10px; 
    border:2px solid rgb(255, 255, 255); 
    -webkit-border-radius: 5px;
    border-radius: 15px;
    outline: none;
    transition: 0.5s;

}
.inputPassword{
    margin-bottom: 2%;
    resize: none;
    margin-top: 18%;
    width: 380px;
    height: 280px;
    padding:10px; 
    border:2px solid rgb(255, 255, 255); 
    -webkit-border-radius: 5px;
    border-radius: 15px;
    outline: none;
    transition: 0.5s;

}

.user-page button{
    margin-top: 0%;
    margin-left: 0%;
}

.main-page button{
    margin-top: 0%;
    margin-left: 0%;
}

.save-button{
    position: fixed;
    top: 14%;
    left: 38%;
}

.add-body{
    margin-top: 10%;
    height: 500px;
    background-color: gainsboro;
    border: thin solid #3527ff;
    border-radius: 3%;
}
h1{
    font-family: monospace;
    font-size: 42px;
}

input:focus {
    border-color:#3527ff;
}

form{
    margin-top: 10%;
}
.registration{
    margin-left: 60%;
}
.login{
    margin-top: -58px;
    margin-left: 0%;
}

.button{
    border-radius: 4px;
    background-color: #ffffff;
    border: none;
    color:#5145ff;
    text-align: center;
    font-size: 15px;
    padding: 15px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    font-family: monospace;
    
}

.main-page{
    border-radius: 4px;
    background-color: #ffffff;
    border: none;
    color: #5145ff;
    text-align: center;
    font-size: 15px;
    padding: 15px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    margin-left: 75%;
    font-family: monospace;
    
}
.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

  a:link { text-decoration: none; }
  a:visited { text-decoration: none; }
  a:hover { text-decoration: none; }
  a:active { text-decoration: none; }

.add-note{
    animation: fadeInAnimation ease 1.5s;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
        }
        @keyframes fadeInAnimation {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
}
