.get-note{

}
.button{
    border-radius: 4px;
    background-color: #ffffff;
    border: none;
    color:#5145ff;
    text-align: center;
    font-size: 15px;
    padding: 15px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    font-family: monospace;
    
}
.buttons-body{
  display: -webkit-inline-box;
  margin-top: 5%;
  margin-bottom: 10%;
  position: relative;
}




button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  button:hover span {
    padding-right: 25px;
  }
  
   button:hover span:after {
    opacity: 1;
    right: 0;
  }
