.get-note{
    position: absolute;
    margin-right: 30%;
    margin-top: 125px;
}
.body{
    background-color: whitesmoke;
    margin-top: 20%;
    margin-left: -120%;
    width: 1000px;
    height: 300px;

}