form{
    font-style:unset;
    display: flex;
    flex-direction: column;
    margin-left: 44%;
    margin-right: 44%;
    height: 30px;
}
input {
    height: 30px;
    margin-bottom: 30px;
    border: 2px solid cornflowerblue;
    border-radius: 25px;
    box-shadow: lightgray;
}
h1{
    font-style: unset;
    opacity: 0.8;
    font-size: 350%;
}
p{
    opacity: 0.8;
}
.main-page{
    margin-left: 80%;
}
.button{
    font-family: inherit;
    font-size: 14px;
    border-radius: 25px;
    width: 100px;
    border: none;
    cursor: pointer;
    transition-duration: 0.8;
    background-color: rgba(0, 77, 77, 0.548);
}
.button:hover{
    background-color: rgba(0, 77, 77, 0.548);
    border: none;
}
