.body{
  display:inline-block;
  padding:150px 10px;
  line-height:140%;
}
.buttons{
  display:flex;
  flex-direction:row;
}
.note-form{
  position: relative;
  margin-left: 200%;
}
.get-form{
  position: static;
}